.contentcontainer {
  display: flex;
  display: table-row;
  margin-left: 220px;
  margin-top: -250px;
  background-color: whitesmoke;
}

.contentwrapper {
  display: flex;
  padding: 20px;
  gap: 20px;

  justify-content: center;
}
.back {
  margin-left: 160px;
  margin-top: 15px;
  font-size: 22px;
  color: rgb(153, 153, 153);
}
.tabs {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 80px;

  cursor: pointer;
  margin-bottom: 30px;
  margin-top: -20px;
}
.label {
  color: #732e9c;
  margin-top: 30px;
}

.descriptionwrapper {
  width: 70%;
  height: auto;
  margin-left: 250px;
  margin-top: -95px;
  margin-bottom: 20px;
}
.stepwrapper {
  margin-top: 10px;
  text-align: center;
}

.description {
  font-size: 16px;
  color: rgb(153, 153, 153);
  padding: 20px 0px;
  justify-content: wrap;
  cursor: pointer;
}

.selectinput {
  width: inherit;
  height: inherit;
  font-size: 18px;
  color: #732e9c;
  font-weight: bold;
  border-color: #732e9c;
  background-color: whitesmoke;
  border-radius: 5px;
}

.topicinput {
  width: 100%;

  height: 50px;
  margin-top: 10px;
  font-size: 18px;
  font-weight: bold;
  color: #732e9c;
  background-color: whitesmoke;
  border-color: #732e9c;
  border-radius: 5px;
}
.questioninput {
  background-color: whitesmoke;
  display: flex;
  width: 100%;

  height: 300px;
  margin-top: -7px;
  font-size: 18px;
  font-weight: bold;
  color: #732e9c;
  justify-content: flex-start;
  place-content: flex-start;
  flex-flow: wrap;
  place-items: flex-start;
  border-color: #732e9c;
  border-radius: 5px;
}

.coursewrapper {
  margin-top: 10px;

  padding-left: 50px;
  padding-right: 50px;
  width: 100%;

  height: 50px;
}

.questionwrapper {
  margin-top: 30px;

  padding-left: 50px;
  padding-right: 50px;
  width: 100%;

  height: 50px;
  text-align: center;
}

.topicwrapper {
  margin-top: 30px;

  padding-left: 50px;
  padding-right: 50px;
  width: 100%;

  height: auto;
  text-align: center;
}
.button {
  background-color: #732e9c;
  color: white;
  font-size: 20px;
  font-weight: bolder;
  padding: 10px 20px;
  border-radius: 4px;
  border-color: #732e9c;
  width: 200px;
  height: 50px;
  margin-top: 50px;
}
.categories > h2 {
  color: rgb(255, 107, 84);
  margin-top: -30px;
  width: 300px;
}

.coursestab {
  display: flex;
  place-content: flex-start;
  align-items: center;
  justify-content: flex-start;

  margin-top: -20px;
  margin-left: 360px;
  width: 70%;
  height: 750px;
  box-shadow: 3px 0px 6px 0px rgba(116, 12, 116, 0.75);
  border-radius: 8px;
  flex-flow: wrap;
}

.suggestion {
  cursor: pointer;
  border-right: 1px solid purple;
  border-left: 1px solid purple;
  border-bottom: 1px solid purple;
}

.suggestion:hover {
  background-color: grey;
}

.labelcourseedit {
  color: #732e9c;
  margin-top: 30px;
  font-weight: bold;
  margin-left: 400px;
}
