.split {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 0px;
}

.left {
  
  
  left: 0;
  background-color: #ffffff;
  
}

.right {
  text-align: center;
  right: 0;
  background-color: rgb(161, 91, 202);
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.welcomeText {
  margin-top: 120px;
  margin-left: 25%;
  font-size: 100px;
  font-family: Josefin Sans, sans-serif;
  font-weight: 700;
  color: rgba(255, 255, 255, 1);
  text-align: center;
  width: 515px;
  height: 85px;
  word-wrap: break-word;
}


.hook {
  margin-top: 180px;
  font-size: 35px;
  margin-left: 20%;
  font-family: Racing Sans One, display;
  font-weight: 400;
  color: rgba(255, 255, 255, 1);
  text-align: center;
  width: 586px;
  height: 87px;
  word-wrap: break-word;
}

.button {
  
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 100px;
  font-size: 30px;
  font-family: Roboto, sans-serif;
  font-weight: 600;
  color: rgba(255, 255, 255, 1);
  
  text-align: center;
  background-color: #732e9c;
  border-radius: 12%;
  word-wrap: break-word;
}
.imagelogo{
  margin-top: 200px;
  margin-left: 10%;
  width:620px;
  height: 100%;
  text-align: center;
}


.butcontainer {
  margin-top:200px;
  margin-left: 40%;
  width: 300px;
  height: 55px;
  background-color: none;
  border-radius: 0%;
  text-align: center;
}

