.navcontainer {
    position: 0;
    margin-top: -80px;
    width:200px;
    height:100%;
    background-color: fff;
    box-shadow: 3px 0px 6px 0px rgba(27, 26, 26, 0.75);
}

.wrapper{
    padding:10px;
    z-index: 1;
}

.wrapper >ul{
    margin-top:20px;
     text-align: left;
     padding-left: 10px;
     display: flex;
     gap:25px;
     flex-direction: column;
     font-size: 18px;
     font-weight: bold;
 }

 .wrapper>ul>li{
    list-style: none;
    font-size: 20px;
    text-decoration: none;
    opacity: .6;
}

.wrapper>ul>li:active{
    color: darkcyan;
    background-color: #732e9c;
    transition: all;
}

.active{
    color: #732e9c;
}

.wrapper>ul>li>:link:hover{
    color: #732e9c;
    font-size: 22px;
    transition: 0s;
}
.logout{
    background-color: transparent;
    border: none;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    margin-left: 4px;
}

