.container {
  width: auto;
  height: auto;

  background-color: #e7e9eb;
  background-color: whitesmoke;
  margin-left: 210px;
  margin-top: -255px;
}
.question {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  display: flex;
  flex-direction: row;
  height: auto;
  margin-top: 15px;
  border: solid 2px;
  background-color: #ffffff;
  border-color: #e7e9eb;
  align-items: center;
  position: relative;
  gap: 5px;
}
.circle {
  border-radius: 50%;
  width: 75px;
  height: 75px;
  padding: 10px;
  background: rgb(255, 107, 84);
  border: 3px solid rgb(255, 107, 84);
  color: #fff;
  text-align: center;
  font: 42px Arial, sans-serif;
}
.imagebox {
  border-radius: 50%;
  width: 75px;
  height: 75px;
  padding: 10px;
  border: 3px solid rgb(255, 107, 84);
  color: #fff;
  text-align: center;
  font: 42px Arial, sans-serif;
}
.title {
  color: #732e9c;
  text-align: center;
  margin-bottom: 30px;
  margin-top: 10px;
}

.questioninfo {
  margin-left: 25px;
  padding-left: 10px;
  width: 750px;
  padding-top: 15px;
  flex-direction: column;
  margin-top: -10px;
  border-right: solid 1px #732e9c;
  display: flex;
  gap: 10px;
  padding-bottom: 10px;
}

.questioncontent {
  text-align: justify;
  font-size: 20px;
  color: #732e9c;
  flex-wrap: wrap;
  word-break: break-word;
  padding-right: 8px;
}

.topic {
  font-weight: bold;
  font-size: 16px;
  color: purple;
}

.editbutton {
  font-weight: bold;
  font-size: 16px;
  color: purple;
  position: absolute;
  bottom: 10px;
  right: 20px;
}

.comments {
  color: #732e9c;
  font-weight: bold;
  font-size: 22px;
  width: auto;
  text-align: center;
  padding: 5px;
  border-right: solid 1px #732e9c;
  height: 77px;
  display: flex;
  align-items: center;
}

.course {
  color: #732e9c;
  font-weight: bold;
  font-size: 22px;
  width: auto;
  padding: 5px;
  text-align: center;
}
