.container{
    width: auto;
    height: 900px;
   
    
    margin-left: 210px;
    margin-top: -255px;
    border: solid 3px;
    border-color: rgb(153, 153, 153);;
    
}
.question{
    padding-top: 10px;
    padding-left: 20px;
    display: flex;
    flex-direction: row;
    height: 100px;
    
    border: solid 1px;
    border-color: #732e9c;
    
    position: relative;
}
.circle{
  border-radius: 50%;
  width: 75px;
  height: 75px;
  padding: 10px;
  background: rgb(255, 107, 84);
  border: 3px solid rgb(255, 107, 84);
  color: #fff;
  text-align: center;
  font: 42px Arial, sans-serif;
}
.title{
    color: #732e9c;
    text-align: center;
    margin-bottom: 30px;
    margin-top: 10px;
}

.questioninfo {
    margin-left: 25px;
    padding-left: 10px;
    width: 850px;
    padding-top: 15px;
    flex-direction: column;
    margin-top: -10px;
    border-right: solid 1px #732e9c;
    
}

.questioncontent {
    
    text-align: justify;
    font-size: 20px;
    color: #732e9c;
    flex-wrap: wrap;
}

.topic {
    font-weight: bold;
    font-size: 16px;
    color: purple;
    position: absolute;
    bottom: 10px;

}

.comments {
    margin-left: 25px;
    color: #732e9c;
    font-weight: bold;
    font-size: 22px;
    width: 250px;
    text-align: center;
    margin-top: 20px;
    border-right: solid 1px #732e9c;
}

.course{
    margin-left: 25px;
    color: #732e9c;
    font-weight: bold;
    font-size: 22px;
    width: 250px;
    text-align: center;
    margin-top: 20px;
}