.maincontainer {
    width: auto;
    height: auto;
  

    margin-left: 210px;
    margin-top: -255px;
  }
  .notif {
      background-color: aqua;
      width: auto;
      height: 100px;
  }
  .icon {
     
      height: 100px;
    
  }
  .text{
    margin-left: 110px;
    width: auto;
    margin-top: -45px;
  }
  .notiftime{
    font-size: 16px;
    margin-top: 10px;
    width: 20px;
  }
  .header{
    text-align: center;
    margin-bottom: 40px;
    margin-top: 20px;
  }
  .question {
    
    padding-top: 10px;
    padding-left: 20px;
    display: flex;
    flex-direction: row;
    height: auto;
    width: 1250px;
    margin-top: 15px;
    padding-bottom: 20px;
    background-color: #ffffff;
    border: 1px solid #727272;
    cursor: pointer;
    margin-left: 140px;
    word-break: break-word;
  
    position: relative;
  }
  .dismiss{
      border: none;
      color: red;
      font-size: 14px;
      font-weight: bold;
      background-color: #ffffff;
      margin-top: 20px;
  }
  .others{
      margin-left: 35px;
  }