.container {
  width: 1200px;
  height: auto;
  padding-left: 15px;
  padding-right: 15px;

  margin-left: 280px;
  margin-top: -255px;
  border: solid 3px;
  border-color: purple;
  background-color: #f9f9f9;
}
.like {
  margin-left: 500px;
}

.buttonedit {
  margin-left: 30px;
  height: 30px;
  width: 50px;
}

.back {
  margin-left: 160px;
  margin-top: 15px;
  font-size: 22px;
  color: #727272;
}
.maincontent {
  height: auto;
  display: flex;
  flex-direction: column;
  background-color: white;
  padding-bottom: 10px;
  border: 1px solid #727272;
}
.postdetails {
  height: 50px;

  display: flex;
  color: rgb(51, 51, 51);
  font-size: 20px;
  margin: 0px 0px 0px;
  justify-content: center;
  width: 100%;
}
.course {
  margin-top: 5px;
  margin-left: 30px;
}

.posttopic {
  margin-top: 5px;
  margin-left: 30px;
}
.posttext {
  padding-top: 10px;
  padding-bottom: 10px;

  padding-left: 10px;
  background-color: #cfd0d1;
  margin-bottom: 10px;
}

.posttext {
  word-break: break-word;
}

.postsignature {
  display: flex;
  width: auto;
  height: 100px;

  flex-direction: row;
  text-align: center;

  border-radius: 3px;
  transition: color 0.15s ease, border-color 0.15s ease;
}
.date {
  margin-top: 15px;
  margin-left: 30px;
}
.useravatar {
  margin-top: 20px;
  padding-bottom: 10px;
  margin-left: 10px;
}
.userinfo {
  margin-top: 30px;
  font-size: 18px;
  margin-left: 15px;
}

.circle {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  padding: 1px;
  background: rgb(255, 107, 84);
  border: 3px solid rgb(255, 107, 84);
  color: #fff;
  text-align: center;
  margin-left: 15px;
  margin-bottom: 3px;
  font: 35px Arial, sans-serif;
}

.report {
  background-color: rgb(255, 107, 84);
  color: white;
  font-size: 20px;
  font-weight: bolder;
  padding: 10px 20px;
  border-radius: 4px;
  border-color: rgb(255, 107, 84);
  width: 180px;
  height: 50px;
  margin-top: 50px;
  margin-left: 380px;
  margin-bottom: 16px;
}

.commentcontainer {
  border: 1px solid #732e9c;
  border-radius: 3px;
  transition: color 0.15s ease, border-color 0.15s ease;

  margin-bottom: 25px;
  background-color: white;
}
.commentsignature {
  display: flex;
  margin-top: 10px;
  height: 50px;
  justify-content: center;
  flex-direction: row;
  text-align: center;
}

.commenterinfo {
  margin-top: 10px;
  font-size: 18px;
  margin-left: 15px;
}

.comment {
  background-color: #cfd0d1;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
}

.makecommentcontainer {
  background-color: white;
  display: flex;
  justify-content: center;

  flex-direction: column;
}

.formbox {
  display: flex;
  flex-direction: column;
}

.inputcomment {
  justify-content: center;

  height: 200px;
  width: 1000px;
  margin-left: 80px;
}
.button {
  background-color: #732e9c;
  color: white;
  font-size: 20px;
  font-weight: bolder;
  padding: 10px 20px;
  border-radius: 4px;
  border-color: #732e9c;
  width: 350px;
  height: 50px;
  margin-top: 50px;
  margin-left: 36%;
  margin-bottom: 16px;
}
.update {
  background-color: #732e9c;
  color: white;
  font-size: 18px;
  margin-top: -25px;
  margin-left: 460px;
  font-weight: bolder;
  padding: 5px 10px;
  border-radius: 4px;
  border-color: #732e9c;
}

.disablebutton {
  display: none;
}

.header {
  justify-content: center;
  height: fit-content;
  width: fit-content;
  margin-left: 45%;
  margin-bottom: 10px;
  margin-top: 10px;
}

.inputeditcomment {
  background-color: white;
  height: auto;
  margin-left: -350px;
  margin-top: -10px;
  width: 800px;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 7px;
  font-size: 18px;
  position: absolute;
  word-break: break-word;
}

.editbox {
  margin-top: 50px;

  height: auto;
}
.namecommenter {
  cursor: pointer;
  font-weight: bold;
  font-size: 22px;
  color: rgb(255, 107, 84);
}

.modalwarning {
  position: relative;
  display: flex;
  flex-direction: column;
  border: 2px solid #732e9c;
  border-radius: 9px;
  place-items: center;
  padding-right: 15px;
  padding-left: 15px;
  padding-top: 0px;
  padding-bottom: 15px;
  width: 600px;
  height: 400px;
  background-color: #ffffff;
  color: #732e9c;
  margin-top: -30px;
  margin-left: 85px;
}
.modaltext {
  margin-top: 50px;
}
.modalmessage {
  margin-top: 70px;
  position: relative;
  display: flex;
  justify-content: center;
  place-items: center;
  width: auto;
  height: auto;
  background-color: blue;
  color: #732e9c;
}
.modalbuttons {
  display: flex;
  flex-direction: row;
  margin-top: 75px;
  gap: 60px;
}
.confirmbuttonmodal {
  background-color: #732e9c;
  color: white;
  font-size: 20px;
  font-weight: bolder;
  padding: 10px 20px;
  border-radius: 4px;
  border-color: #732e9c;
  width: 120px;
  height: 50px;
}
.cancelbuttonmodal {
  background-color: rgb(255, 107, 84);
  color: white;
  font-size: 20px;
  font-weight: bolder;
  padding: 10px 20px;
  border-radius: 4px;
  border-color: rgb(255, 107, 84);
  width: 120px;
  height: 50px;
}
.close {
  background-color: #732e9c;
  color: white;
  font-size: 20px;
  font-weight: bolder;
  padding: 10px 20px;
  border-radius: 4px;
  border-color: #732e9c;
  width: 100px;
  height: 50px;
  margin-top: 80px;
}
.backbutton {
  border: none;
  font-size: 18px;
  font-weight: bold;
  background-color: transparent;
  margin-left: -50px;
  margin-top: 15px;
  font-size: 22px;
  color: #727272;
}

.buttonliked {
  background-color: red;
}
.buttonnotlike {
  background-color: blue;
}
